@model MVCKutuphane.Models.Entity.TBLKATEGORI 
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}



<div class="col-md-6 mx-auto form-group">
    <h6 class="fw-bold ">Kategori Güncelleme Sayfası</h6>
    <hr style="border:solid 2px black" />
    @using (Html.BeginForm("KategoriGüncelle", "Kategori", FormMethod.Post))
    {
        <div class="form-group mt-5" style="margin-bottom:15px">
            @Html.LabelFor(k => k.ID)
            @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
            <br />
            <label>KATEGORİ ADI</label>
            @Html.TextBoxFor(k => k.ADI, new { @class = "form-control", required = "required" })
        </div>
        <div>
            <button class="btn fw-semibold w-100"  style="margin-top: 25px; margin-bottom: 50px; background-color: #202f44; color: aliceblue" onclick="return confirm('Güncellensin mi?')">Güncelle</button>
        </div>
    }

</div>

<style>
    .d-flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .form-group {
        width: 100%;
        margin-top: 10%;
    }

    .form-control-custom, .btn-custom {
        width: 100%;
    }

    .col-md-6 {
        max-width: 275px; /* İstediğiniz maksimum genişliği ayarlayabilirsiniz */
        width: 100%;
      
    }
</style>