
@{
    Layout = null;
}
<script src="~/weberror/docs/main.5f4bd23c1c2dccd1184c.bundle.js"></script>
<link href="~/weberror/docs/main.5968d5567149ddb664c5.css" rel="stylesheet" />

<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>404 Not Found</title>
    <link href=main.5968d5567149ddb664c5.css rel=stylesheet>
</head>
<body>
    <nav class=navbar>
        <span>404 Bulunamadı 🚀</span>
        <ul>
            <li><a href=/vitrin/Index>Vitrin</a></li>
           
          
        </ul>
    </nav>
    <main>
    <div class=message>
        <strong>404</strong>
        <p class=title>UZAYDA KAYBOLMUŞ GİBİ GÖRÜNÜYORSUN</p>
        <p class=message-text>Aradığınız sayfa kaldırılmış veya geçici olarak kullanılamıyor olabilir.</p>
        
        </div>
        </main>
    <div class=box-astronaut>
    <img src=~/weberror/docs/imgs/astronaut.e2b60a65821122a3377a8f0f01d68285.svg alt="">
    </div>
    <script src=main.5f4bd23c1c2dccd1184c.bundle.js></script>
</body>
</html>