@using MVCKutuphane.Models.Entity
@model List<TBLPERSONEL>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h6 class="fw-bold ">Personeller Listesi</h6>
<hr style="border:solid 2px black" />

<table class="table table-bordered mt-4 table-hover">
    <tr>
        <th>PERSONEL ID</th>
        <th>PERSONEL</th>
        <th>İŞLEMLER</th>
    </tr>
    @{int sayac = 0; }
    @foreach (var prs in Model)
    {
        sayac++;
        <tr>
            <td>@prs.ID</td>
            <td>@prs.PERSONEL</td>
            <td>
                <a href="/Personel/PersonelGetir/@prs.ID" class="btn fw-semibold  mx-1 " style="background-color:#5073a3; color: aliceblue ">Güncelle</a>
            </td>
            <td>
                <a href="/Personel/PersonelSil/@prs.ID" class="btn fw-semibold  mx-1 " style="background-color:#5073a3; color: aliceblue ">Pasif Yap</a>
            </td>
        </tr>
    }
    <h4 style="float:right">Veri Sayısı : @sayac</h4>
</table>
<a href="/Personel/PersonelEkle" class="btn fw-semibold w-100" style="margin-top: 25px; margin-bottom: 50px; background-color: #202f44; color: aliceblue ">Yeni Personel Ekle</a>
