@model MVCKutuphane.Models.Entity.TBLDUYURULAR
@{
    ViewBag.Title = "YeniDuyuruEkle";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="col-md-6 mx-auto form-group">
    <h6 class="fw-bold ">Yeni Duyuru Ekleme Sayfası</h6>
    <hr style="border:solid 2px black" />
    <form method="post">
        <div>
            <br />
            <div>
                <label class="fw-bolder">DUYURU BAŞLIĞI</label>
                @Html.TextBoxFor(k => k.KATEGORI, new { @class = "form-control", required = "required" })
            </div>
            <br />
            <div>
                <label class="fw-bolder">DUYURU İÇERİĞİ</label>
                @Html.TextAreaFor(k => k.ICERIK, new { @class = "form-control", required = "required" })
            </div>
            <br />
            <div>
                <label class="fw-bolder">DUYURU TARİHİ</label>
                @*@Html.TextBoxFor(k => k.TARIH, new { @class = "form-control", required = "required" })*@
                <input type="text" class="form-control" required="required" name="TARIH" value="@DateTime.Now.ToShortDateString()" />
            </div>

            <div style="margin-top:15px;margin-bottom:20px" class="fw-bolder">
                <button class="btn fw-semibold w-100" style="margin-top: 25px; margin-bottom: 50px; background-color: #202f44; color: aliceblue">Duyuru Ekle</button>

            </div>
        </div>

    </form>
</div>


<style>
    .d-flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .form-group {
        width: 100%;
        margin-top: 10%;
    }

    .form-control-custom, .btn-custom {
        width: 100%;
    }

    .col-md-6 {
        max-width: 275px; /* İstediğiniz maksimum genişliği ayarlayabilirsiniz */
        width: 100%;
    }
</style>
